/* css */
.claro{
    background-color: black;
    color: rgb(255, 255, 255);
}
header{
    border: solid 5px blue;
    margin: 5px;
    padding: 5px;
}
main{
    border: solid 5px greenyellow;
    margin: 5px;
    padding: 5px;
}









