.logo{
    background-image:url("../img/orelha.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    float: left;
    margin: 5px;
}
.pedra{
    background-image:url("../img/preda.jpeg");
    width: 90vw;
    height: 90vh;
    background-size: cover;
    margin-left:auto;
    margin-right:auto;
}
/* .fofoqueiras{
    background-image:url("../img/fofoqueiras.jpeg");
    width: 90vw;
    height: 90vh;
    background-size: cover;
    margin-left:auto;
    margin-right:auto;
} */
.fofoqueiras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    Justify-content:center;
}
@media(width < 900px){
    .fofoqueiras{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}
.fofoqueiras-imagem{
    background-image:url("../img/fofoqueiras.jpeg");
    width: 32vw;
    height: 25vh;
    background-size: cover;
    margin-left:auto;
}

.fofoqueiras-imagem-2{
    background-image:url("../img/fofoqueiras-2.jpeg");
    width: 33vw;
    height: 25vh;
    background-size: cover;
}
.fofoqueiros-imagem{
    background-image:url("../img/fofoqueiros.jpeg");
    width: 32vw;
    height: 25vh;
    background-size: cover;
}
@media(width < 900px){
    .fofoqueiros-imagem{
        
        margin-left: auto;
    }

}
.fofoqueiros-imagem-2{
    background-image:url("../img/fofoqueiros-2.jpeg");
    width: 32vw;
    height: 25vh;
    background-size: cover;
    margin-left:auto;

}
@media(width < 900px){
    .fofoqueiros-imagem-2{
        
        margin-left: 0px;
    }

}
.fofoqueiros-imagem-3{
    background-image:url("../img/fofoqueiros-3.jpeg");
    width: 32vw;
    height: 25vh;
    background-size: cover;
}
@media(width < 900px){
    .fofoqueiros-imagem-3{
        
        margin-left: auto;
    }

}
.emoji-imagem{
    background-image:url("../img/emoji.jpeg");
    width: 32vw;
    height: 25vh;
    background-size: cover;
    margin-right:auto;
}
.azul{
    background-image:url("../img/azul.png");
    width: 100vw;
    height: 50px;
    background-size: cover;
    margin-right:auto;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    Justify-content:center;
}
@media(width < 900px){
    .container{
        
        grid-template-columns: 1fr;
        Justify-content:center;
    }

}
.formulario{
    display: block;
    Justify-content:flex-start;
    background-color: #ff0000;
    margin: 5px;
}

.imagem {
    margin: 5px;
}
.imagem img{
    width:100%;
    height:auto;
}
section {min-height: 100vh;}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.rodape{
    top: 3;
    background-color: #ff0000;
    color: rgb(214, 69, 69);
    padding: 5px;
    z-index: 1000;
    height: 80px;
    height: 500px;
}

.menu-sticky {
    position: sticky;
    top: 0;
    background-color: #ff7b00;
    color: rgb(0, 0, 0);
    padding: 5px;
    z-index: 1000;
    height: 80px;
    width: 100vw;
}
.laranja{
    background-color: #ff7b00;
    height: 9vh;
}
.cookies {
    position: fixed;
    top: 0;
    background-color: #e7e7e7f3;
    color: rgb(0, 0, 0);
    margin-top: 18vh;
    padding: 5px;
    z-index: 1000;
    height: 80vh;
    width: 100vw;
}
.centro{
    text-align: center;
    min-height: 56vh ;
}
.botoes{
    margin-top: 10vh;
}

.menu-sticky img {
    width: 50px;
}
.menu-sticky nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
}
nav {
    text-align: center;
}
.menu-sticky nav a:hover {
    color: #ffd700;
}

.secao {
    padding: 10px ; 
    min-height: 100vh ;
    text-align: center;
    scroll-margin-top: 80px;
    width: 100vw;
}

#inicio {
    background-color: #f0f0f0;
}
@media (width < 9px) {
    #inicio{
        background-color: #ff0000;
    }
}

#sobre {
    background-color: #fffefe;
}

#fofocas {
    background-color: #f0f0f0;
}

#contato {
    background-color: #e0e0e0;
}



























